.card{
    display: flex;
    width: 100%;
    padding: 50px;
}
.card {
    background: #2331ca; 
    width: 300px;
    height: 350px;
    border-radius: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 50px;
    box-sizing: border-box;
    justify-content: center;
    /* Para hacer no tener problemas al poner una tarjeta sobre otra */
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;

    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3), -4px 0 10px rgba(0, 0, 0, 0.2),
    -5px 0 10px rgba(0, 0, 0, 0.1);
}


.card .card-name{
    color: white;
}

.card:hover {
    margin-top: 40px;
    transform: rotate(3deg) translateY(-50px);
}